@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  border: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background: #ffda6b;
}
#welcom-section img,
#about h2,
#projrcts h2,
#contact {
  padding-top: 7rem;
}

.jumbotron {
  padding-top: 2rem;
}
#projects {
  background-color: #ffda6b;
}

.card-text {
  color: black;
}

.a {
  text-decoration: none;
}
#navbarNav ul li:hover {
  font-weight: 600;
}

@media (max-width: 576px) {
  .jumbotron {
    position: relative;
  }
  .wave1 {
    bottom: 0;
    left: 0;
  }
}
